# Netlify 部署配置

[build]
  publish = "."

# Headers 設定
[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"

[[headers]]
  for = "/*.js"
  [headers.values]
    Content-Type = "text/javascript; charset=utf-8"

[[headers]]
  for = "/libs/**/*.js"
  [headers.values]
    Content-Type = "text/javascript; charset=utf-8"
